body {
    background-color: navajowhite;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    list-style-type: none;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    background-color: #1f2937;
    background-color: white;
    padding: 0 5px;
}

.header-nav {
    display: flex;
    gap: 20px;
}

.hero-banner {
    display: flex;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.content-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.content-items {
    display: flex;
}

.quote-banner {
    display: flex;
    min-height: 200px;
    justify-content: center;
    align-items: center;
}

.signup-banner {
    display: flex;
    min-height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 30px;
}